<!DOCTYPE html>

<html>
  <head>
    <title>Upload</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <style>
  div.page-header {
      background-color:black;
      color:red;
      text-align:center;
  }
  </style>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Upload file</h1>
      </div>

      <form role="form" action="/uploader" enctype="multipart/form-data" method="post">
        <label for="fn">File name to save</label>
        <input type="text" id="fn"  name="filename"/>
        <div class="form-group">
          <label for="ftu">Select file to upload</label>
          <input type="file" id="ftu" name="fileToUpload"/>
        </div>
        <input type="submit" value="Upload" class="btn btn-default" />
      </form>

    </div>
  </body>
</html>
